<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>
             </br>Total visit: <span id="busuanzi_value_site_pv"></span> (times)，total visitors: <span id="busuanzi_value_site_uv"></span> (persons)，total read: <span id="busuanzi_value_page_pv"></span> (times)
        </div>
    </div>
</footer>



